<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentAssertions" version="5.2.0" targetFramework="net47" />
  <package id="Jil" version="2.15.4" targetFramework="net47" />
  <package id="Nancy" version="1.4.4" targetFramework="net47" />
  <package id="Nancy.Hosting.Self" version="1.4.1" targetFramework="net47" />
  <package id="NUnit" version="3.10.1" targetFramework="net47" />
  <package id="Sigil" version="4.7.0" targetFramework="net47" />
</packages>