<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
      <section
        name="wham"
        type="AttemptB.Config.WhamSettings, AttemptB"
      />
    <!-- Other <section> and <sectionGroup> elements. -->
  </configSections>

    <wham>
      <domainUrl name="http://localhost:1234" />
    </wham>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
</configuration>
